!!! Strict
%html(lang="en")
	%head
		%meta(charset="utf-8")
		%meta(http-equiv="X-UA-Compatible" content="IE=9,chrome=1")
		%link(rel="stylesheet" type="text/css" href="style.css")

	%body
		.col1
			.date-header
				%datehead= Date.today.strftime "%A"
				<br>
				%datesub= Date.today.strftime "%B %-d, %Y"
			.staff-header
				%head2 On Staff
			.staff-info
				%img(src="http://ceid.yale.edu/wp-content/uploads/2013/08/olga.jpg")
                
			.schedule
				%head2 Schedule

		.col2
            
		.col3
			<div style="width:800px;text-align:right;"><embed width="800" height="416" src="http://pic2.pbsrc.com/flash/rss_slideshow.swf" flashvars="rssFeed=http%3A%2F%2Ffeed957.photobucket.com%2Falbums%2Fae53%2Fyaleceid%2Ffeed.rss" type="application/x-shockwave-flash" wmode="transparent" /><a href="javascript:void(0);" target="_blank"><img src="http://pic.photobucket.com/share/icons/embed/btn_geturs.gif" style="border:none;" /></a><a href="http://s957.photobucket.com/user/yaleceid/library/" target="_blank"><img src="http://pic.photobucket.com/share/icons/embed/btn_viewall.gif" style="border:none;" alt="yaleceid&#039;s  album on Photobucket" /></a></div>

		.col4
			<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=WEEK&amp;height=350&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=yale.edu_pj57k5d89s4ir70v87jjlps7oo%40group.calendar.google.com&amp;color=%235F6B02&amp;src=yale.edu_tp5hu0imtdjbt39qnim2kd0dv0%40group.calendar.google.com&amp;color=%23182C57&amp;src=yale.edu_v5a8sdqrnsu6j112cckp6t3iu4%40group.calendar.google.com&amp;color=%23711616&amp;ctz=America%2FNew_York" style=" border-width:0 " width="1366" height="360" frameborder="0" scrolling="no"></iframe>

