html { 
  margin:0; padding: 0; height: 100% 
}

/*fontfaces*/

@font-face {
	font-family: 'Conv_UniversLTStd-Cn';
	src: url('fonts/UniversLTStd-Cn.eot');
	src: local('☺'), url('fonts/UniversLTStd-Cn.ttf') format('truetype'), url('fonts/UniversLTStd-Cn.svg') format('svg');
}


@font-face {
	font-family: 'Conv_UniversLTStd-Light';
	src: url('fonts/UniversLTStd-Light.eot');
	src: local('☺'), url('fonts/UniversLTStd-Light.ttf') format('truetype'), url('fonts/UniversLTStd-Light.svg') format('svg');
}


@font-face {
	font-family: 'Conv_UniversLTStd-LightCn';
	src: url('fonts/UniversLTStd-LightCn.eot');
	src: local('☺'), url('fonts/UniversLTStd-LightCn.ttf') format('truetype'), url('fonts/UniversLTStd-LightCn.svg') format('svg');
}



@font-face {
	font-family: 'universboldcond';
	src: url('fonts/UniversLTStd-BoldCn.eot');
	src: local('☺'), url('fonts/UniversLTStd-BoldCn.ttf') format('truetype'), url('fonts/UniversLTStd-BoldCn.svg') format('svg');

}



/*font definitions*/

body { 
  font-size: 20px;
  font-family: universlight; 
  color: white;
}


datehead {
  font-family: universlightcond;
  font-size: 80px;
  color: white;
  text-transform:uppercase;
  letter-spacing: -3px;
	margin: 10px;
	line-height: 80px;


}

datesub {
  font-family: universlightcond;
  font-size: 35px;
  color: white;
  text-transform:uppercase;
  padding:0px 10px 10px;
	line-height: 10px;
}

head1 {
  font-family: universboldcond;
  font-size: 80px;
  color: white;
  text-transform:uppercase;
	margin: 5px;
	line-height: 80px;
}

head2 {
  font-family: universcond;
  font-size: 30px;
  color: white;
  text-transform:uppercase;
  letter-spacing: -1.5px;
}

/*structure*/


.col1 {
  position:fixed;
  top:0px;
  left:0px;
  width: 566px; 
  background: #225297;

}

.col2 {
  width: 500px;
  background: #70b744;

}

.col3 {
  width: 800px;
	height: 400	px;
  background: #000000;
	position:fixed;
	left: 566px;
	top: 0px;
	margin-top: -42px;
}

.col4 {
	height: 385px;
	width: 1366px;
	background: #00aeef;
	clear:both;
    position:fixed;
    left: 0px;
    top: 410px;
}

.date-header {
  padding: 17px;
  background: #00aeef;
  padding-top: 25px
  height: 50px;

}

.staff-header {
  padding: 8px;
	padding-left: 24px;
  background: #006090;
	height: 30px;


}


.schedule {
  padding: 8px;
	padding-left: 24px;
  background: #70b744;
  height:30px;

}


.staff-info {
  background: #4D4D4D;
	height: 194px;

}

.eventshead {
  padding: 20px;
  background: #4D4D4D;

}

.staffimg {
  margin: 10px;

}